
SQLALCHEMY_DATABASE_URI = "postgresql://monuser:monpassachanger@localhost:5432/mabase"

URL_USERHUB="http://localhost:5001"
URL_APPLICATION="http://localhost:1234"
# Administrateur de mon application
ADMIN_APPLICATION_LOGIN="admin"
ADMIN_APPLICATION_PASSWORD="admin"
ADMIN_APPLICATION_MAIL="admin@test.fr"

ID_APP=1


SECRET_KEY = 'super secret key'

COOKIE_EXPIRATION = 3600
COOKIE_AUTORENEW = True
TRAP_ALL_EXCEPTIONS = False

# mail configuration
ANIMATEUR_APPLICATION_MAIL="animateur@test.fr"
MAIL_SERVER = 'mail.test.fr'
# MAIL_USE_SSL = ""
MAIL_PORT = 25
MAIL_USERNAME = 'test@test.fr'
MAIL_PASSWORD = 'test'
