
{%- extends "base.html" %}
{% include "librairies.html" %}

{%- block content %}
    <div id="erreur" style="display: none;" class="alert alert-danger"></div>
    <h2>Changement du mot de passe</h2>

    <div id="pending"  class="alert alert-warning" style="display: none">Requête en cours. Veuillez patienter.</div>

    <div class="alert alert-danger" role="alert" id="login-error" style="display: none;"></div>

    <div id="email_success" style="display: none;">

        <p class="alert alert-success">Votre demande de changement de mot de passe est bien prise en compte.</p>
        <p class="alert alert-info">Un e-mail de vérification a été envoyé.</p>
        <p class="alert alert-warning">Il est possible que celui-ci ait été placé par votre boite mail dans votre dossier <i>"spam"</i> ou <i>"courrier indésirable"</i>, donc pensez à vérifier celui-ci si vous ne trouvez pas notre e-mail dans votre boîte de réception habituelle.</p>
        <p>Veuillez cliquer sur le lien de confirmation présent dans cet e-mail afin de procéder au changement de mot de passe.</p>

    </div>

    {%- if token_expire == True %}
        <div class="alert alert-danger"
            role="alert" id="token-expire">
            Mot de passe déjà regénéré
        </div>

    {%- else %}
        {%- if not token %}
        <form class="form-horizontal" id="form_identifiant">


            <div>
                <div class="form">


                    <p>Entrez votre identifiant (e-mail utilisé pour la création du compte) et appuyez sur <b>modifier le mot de passe</b>.</p>
                    <div id="email">

                        <table class="table">
                            <tr>
                                <th>
                                    E-mail :
                                </th>
                                <td>
                                    <input required type="text" class="form-control" id="form_email" value={{identifiant}}>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn btn-success">Modifier le mot de passe</button>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </form>

        {%- else %}
        <form class="form-horizontal" id="form_password">

            <div>
                <div class="form">

                    <div id="pwds">
                        <table class="table">
                            <tr>
                                <th>
                                    Mot de passe :
                                </th>
                                <td>
                                    <input type="password" class="form-control" id="user_pwd" required>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Confirmation du mot de passe :
                                </th>
                                <td>
                                    <input type="password" class="form-control" id="user_pwd_conf" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn btn-success">Modifier le mot de passe</button>
                                </td>
                                <td></td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

        </form>
        {%- endif %}
    {%- endif %}


<script>

        $(document).ready(function() {

            "use scrict";

            $("#erreur").hide();
            $("#form_identifiant").submit(function(e) {

                $("#erreur").hide();

                e.preventDefault()

                $('#form_identifiant').hide();
                $('#pending').show();
                $.ajax({
                    type: 'POST',
                    url: '/pypn/register/post_usershub/create_cor_role_token',
                    data: JSON.stringify({
                        email: $('#form_email').val()
                    }),
                    contentType:"application/json; charset=utf-8",
                    dataType:"json",
                }).done(function(response) {
                    $('#pending').hide();
                    console.log('success');
                    $('#form_identifiant').hide();
                    $('#email_success').show()
                }).
                fail(function(data) {
                    $('#form_identifiant').show();
                    $('#pending').hide();
                    var msg = data.responseJSON ? data.responseJSON.msg : data.responseText
                    console.log("fail", data)
                    $('#erreur').html("erreur : " + msg);
                    $('#erreur').show()

                });
                console.log("end");
            });

            $("#form_password").submit(function(e) {

                $('#erreur').hide()

                e.preventDefault()

                if($('#user_pwd').val() != $('#user_pwd_conf').val()) {
                    $('#erreur').html("Les mot de passe renseignés ne sont pas identiques.");
                    $('#erreur').show();
                    return false;
                }

                $('#form_password').hide();
                $('#pending').show();

                $.ajax({
                    type: 'POST',
                    url: '/pypn/register/post_usershub/change_password',
                    data: JSON.stringify({
                        password: $('#user_pwd').val(),
                        password_confirmation: $('#user_pwd_conf').val(),
                        token: "{{token}}",
                    }),
                    contentType:"application/json; charset=utf-8",
                    dataType:"json",
                }).done(function(response) {
                    $('#pending').hide();
                    console.log('done', response)
                    $('#form_password').hide();
                    $('#password_success').show()
                }).fail(function(data) {
                    $('#form_password').show();
                    $('#pending').hide();
                    console.log('fail', data.responseText)
                    $('#erreur').html(data.responseText);
                    $('#erreur').show()
                });
            })
        });



    </script>

{%- endblock %}