{%- extends "base.html" %}


{% include "librairies.html" %}
{%- block content %}
      <div id="user" hidden data-user='{{user|tojson or ""}}' ></div>
      <div id="id_app" hidden data-id_app='{{config.ID_APP}}' ></div>

      <div id="info_error" style="display: none;" class="alert alert-danger">

      </div>

      <form id="form_user">
            <table class="table" id="user_information">

              <tbody>
                <tr>
                  <th>Nom</th>
                  <td id="info_nom_role" class="info">{{user.nom_role}}</td>
                  <td class="input">
                    <input type="text" class="form-control" id="nom_role" required>
                  </td>
                </tr>
                <tr>
                  <th>Prénom</th>
                  <td id="info_prenom_role" class="info">{{user.prenom_role}}</td>
                  <td class="input">
                    <input type="text" class="form-control" id="prenom_role" required>
                  </td>
                </tr>
                <tr>
                  <th>E-mail</th>
                  <td id="info_email" class="info">{{user.email}}</td>
                  <td class="input">
                    <input type="email" class="form-control" id="email" required>
                  </td>
                </tr>
                <tr>
                  <th>Identifiant</th>
                  <td id="info_identifiant" class="info">{{user.identifiant}}</td>
                  <td class="input">
                    <input class="form-control" id="identifiant" required>
                  </td>
                </tr>
                <tr>
                  <th>Organisme</th>
                  <td id="info_organisme" class="info">{{user.organisme}}</td>
                  <td class="input">
                    <select class="selectpicker" title="Choisir organisme" id="id_organisme" required data-width="fit" >
                      {%- for organisme in liste_organismes%}
                      <option value="{{organisme.id_organism}}">{{ organisme.nom_organism }}</option>
                      {%- endfor %}
                    </select>
                  </td>
                </tr>

                {% if not user.id_role %}

                <tr class="password">
                  <th>Mot de passe</th>
                  <td class="info"></td>
                  <td class="input">
                    <input type="password" class="form-control" id="password" required>
                  </td>
                </tr>
                <tr class="password">
                  <th>Confirmation du mot de passe</th>
                  <td class="info"></td>
                  <td class="input">
                    <input type="password" class="form-control" id="password_confirmation" required>
                  </td>
                </tr>

                {% endif %}

                <tr class="remarques">
                    <th>Remarque</th>
                    <td class="info"></td>
                    <td class="input">
                      <input type="remarques" class="form-control" id="remarques">
                    </td>
                  </tr>
              </tbody>

            </table>

            <button id="btn_validation"  class="input btn btn-success">Créer role</span></button>

      </form>


      <div id="info_register" style="display: none;">

          <p class="alert alert-success">Votre demande d'inscription est bien prise en compte.</p>
          <p class="alert alert-info">Un e-mail de vérification vous a été envoyé.</p>
          <p class="alert alert-warning">Il est possible que celui-ci ait été placé par votre boite mail dans votre dossier <i>"spam"</i> ou <i>"courrier indésirable"</i>. Pensez donc à vérifier celui-ci si vous ne trouvez pas notre e-mail dans votre boîte de réception habituelle.</p>
          <p>Veuillez cliquer sur le lien de confirmation présent dans cet e-mail afin de valider votre compte.</p>

      </div>
      <div id="info_update" style="display: none;">

          <p class="alert alert-success">Modification bien prise en compte.</p>

      </div>
      <a href="{{ url_for('test_api_usershub.users_list', id_role=user.id_role) }}">Retour à la liste des utilisateurs</a>
<script>

  var user = JSON.parse($("#user").attr('data-user'));

  function set_user(user_in) {
    var user = user_in;
    $('#nom_role').val(user.nom_role);
    $('#prenom_role').val(user.prenom_role);
    $('#email').val(user.email);
    // $("#id_organisme").selectpicker('val', user.id_organisme);
    $("#organisme").val(user.organisme);
    $("#identifiant").val(user.identifiant);
    $("#remarques").val(user.remarques);

    // $("#desc_role").selectpicker('val', user.desc_role);

    return user;
    }


  var user = set_user(user);

  var submit_form = function(e) {
    e.preventDefault();
    var data = {
      "nom_role": $('#nom_role').val(),
      "prenom_role": $('#prenom_role').val(),
      "identifiant": $('#identifiant').val(),
      "email": $('#email').val(),

      "password": $('#password').val(),
      "password_confirmation": $('#password_confirmation').val(),

      "groupe": false,
      "pn": true,
      "remarques": $('#remarques').val(),
      "id_organisme": $('#id_organisme').val(),
      // "organisme": $('#organisme').val().substr(0,32),
      "desc_role": $('#desc_role').val(),

    };

    var done;
    var url_post;
    if(!user.id_role) {
      url_post = '/pypn/register/post_usershub/create_temp_user'
      done = function(response) {
        $("#info_error").hide();
        $('#form_user').hide();
        $("#info_register").show();
      }
    } else {
      url_post = '/pypn/register/post_usershub/update_user'
      data.id_role = user.id_role;
      done = function(response) {
        $("#info_error").hide();
        $('#form_user').hide();
        $("#info_update").show();
      }
    }

    $.ajax( {
      url : url_post,
      type: 'POST',
      data : JSON.stringify(data),
      contentType:"application/json; charset=utf-8",
      dataType:"json",
    }).done(done)
    .fail(function(data){
      var msg = data.responseJSON ? data.responseJSON.msg : data.responseText
      console.log("fail", data, msg)
      $("#info_error" ).html(msg);
      $("#info_error").show();
    });
  }

  $("#form_user").submit(submit_form);

</script>
{%- endblock %}